Thumbs.db

/admin/configuracao_banco.php
/admin/obj_file/
/admin/fckupload/
/_font/backup diagnostico  20160521 1134.sql
/admin/js/highcharts/exporting/temp/
/analyticstracking.php
/admin/executa_job.txt
